In [4]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import mean_squared_log_error
import warnings
warnings.filterwarnings('ignore')

In [5]:
#Reading the train and test data 

trainbike = pd.read_csv("/Users/devanshoojain/RPI Sem 1/Intro to Machine Learning Applications /Kaggle Bike Sharing Demand/bike-sharing-demand/train.csv", parse_dates = ['datetime'])
testbike = pd.read_csv("/Users/devanshoojain/RPI Sem 1/Intro to Machine Learning Applications /Kaggle Bike Sharing Demand/bike-sharing-demand/test.csv", parse_dates = ['datetime'])

In [8]:
#Feature Enginnering

trainbike['year'] = [t.year for t in pd.DatetimeIndex(trainbike.datetime)]
trainbike['month'] = [t.month for t in pd.DatetimeIndex(trainbike.datetime)]
trainbike['day'] = [t.day for t in pd.DatetimeIndex(trainbike.datetime)]
trainbike['hour'] = [t.hour for t in pd.DatetimeIndex(trainbike.datetime)]

testbike['year'] = [t.year for t in pd.DatetimeIndex(testbike.datetime)]
testbike['month'] = [t.month for t in pd.DatetimeIndex(testbike.datetime)]
testbike['day'] = [t.day for t in pd.DatetimeIndex(testbike.datetime)]
testbike['hour'] = [t.hour for t in pd.DatetimeIndex(testbike.datetime)]

# trainbike.head()

In [9]:
#Dropping datetime column
trainbike.drop('datetime',axis=1,inplace=True)
testbike.drop('datetime',axis=1,inplace=True)

In [11]:
#Dropping Registered and casual as they are higly correlated with count
trainbike.drop(['casual','registered'],axis=1,inplace=True)

In [12]:
#Data Transformation
seasons = pd.get_dummies(trainbike['season'],prefix='season')
trainbike = pd.concat([trainbike,seasons],axis=1)

In [14]:
trainbike.drop('season',axis=1,inplace=True)
trainbike.head()

,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,year,month,day,hour,season_1,season_2,season_3,season_4
0,0,0,1,9.84,14.395,81,0.0,16,2011,1,1,0,1,0,0,0
1,0,0,1,9.02,13.635,80,0.0,40,2011,1,1,1,1,0,0,0
2,0,0,1,9.02,13.635,80,0.0,32,2011,1,1,2,1,0,0,0
3,0,0,1,9.84,14.395,75,0.0,13,2011,1,1,3,1,0,0,0
4,0,0,1,9.84,14.395,75,0.0,1,2011,1,1,4,1,0,0,0

In [15]:
weathers = pd.get_dummies(trainbike['weather'],prefix='weather')
trainbike = pd.concat([trainbike,weathers],axis=1)

trainbike.drop('weather',axis=1,inplace=True)
trainbike.head()

,holiday,workingday,temp,atemp,humidity,windspeed,count,year,month,day,hour,season_1,season_2,season_3,season_4,weather_1,weather_2,weather_3,weather_4
0,0,0,9.84,14.395,81,0.0,16,2011,1,1,0,1,0,0,0,1,0,0,0
1,0,0,9.02,13.635,80,0.0,40,2011,1,1,1,1,0,0,0,1,0,0,0
2,0,0,9.02,13.635,80,0.0,32,2011,1,1,2,1,0,0,0,1,0,0,0
3,0,0,9.84,14.395,75,0.0,13,2011,1,1,3,1,0,0,0,1,0,0,0
4,0,0,9.84,14.395,75,0.0,1,2011,1,1,4,1,0,0,0,1,0,0,0

In [26]:
#Model Preparation
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [44]:
X = trainbike.drop('count',axis=1)
y = trainbike['count']
X

,holiday,workingday,temp,atemp,humidity,windspeed,year,month,day,hour,season_1,season_2,season_3,season_4,weather_1,weather_2,weather_3,weather_4
0,0,0,9.84,14.395,81,0.0000,2011,1,1,0,1,0,0,0,1,0,0,0
1,0,0,9.02,13.635,80,0.0000,2011,1,1,1,1,0,0,0,1,0,0,0
2,0,0,9.02,13.635,80,0.0000,2011,1,1,2,1,0,0,0,1,0,0,0
3,0,0,9.84,14.395,75,0.0000,2011,1,1,3,1,0,0,0,1,0,0,0
4,0,0,9.84,14.395,75,0.0000,2011,1,1,4,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10881,0,1,15.58,19.695,50,26.0027,2012,12,19,19,0,0,0,1,1,0,0,0
10882,0,1,14.76,17.425,57,15.0013,2012,12,19,20,0,0,0,1,1,0,0,0
10883,0,1,13.94,15.910,61,15.0013,2012,12,19,21,0,0,0,1,1,0,0,0
10884,0,1,13.94,17.425,61,6.0032,2012,12,19,22,0,0,0,1,1,0,0,0
10885,0,1,13.12,16.665,66,8.9981,2012,12,19,23,0,0,0,1,1,0,0,0

In [28]:
X = StandardScaler().fit_transform(X)

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [40]:
#Model Application

#Model 1: Decision Tree Classifier

clf = DecisionTreeClassifier(random_state=0)
clf = clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
np.sqrt(mean_squared_log_error(y_test,y_predclf))

0.5443775061219112

In [41]:
#Model 2: Random Forest Regressor

from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
rf_model = rf.fit(X_train,y_train)
y_predrf = rf_model.predict(X_test)
np.sqrt(mean_squared_log_error(y_test,y_predrf))

0.3369553084950067